.d1{
    background-color: lightgray;
    width: 680px;
    height: 580px;
    margin: auto;
    margin-top: 80px;
}
.addh3{
    margin-left: 10px;
}
.updateh3{
    margin-left: 10px;
}
.updateinput{
    margin-left: 10px;
    width:450px;
    height:30px;
}
.updatetextarea{
    margin-left: 10px;
    width: 650px;
    height: 265px;
    overflow: scroll;
}
.addinput{
    margin-left: 10px;
    width:450px;
    height:30px;
}
.addtextarea{
    margin-left: 10px;
    width: 650px;
    height: 265px;
    overflow: auto;
}