#buydiv{
    background-color: white;
    width: 800px;
    height: 500px;

    margin : 90px auto 0 auto ;
}
#calendardiv{
    background-color: white;
    width: 800px;
    height: 400px;
    margin : 90px auto 0 auto ;

}