.header{
    width: 100%;
    height: 125px;
   background-image: url("/s1/resources/images/headerimg.jpg");
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    z-index: 1;
}


.header:hover{
    overflow: visible;
}

.nav_main{
    width: 1200px;
    height: 216px;
    background:linear-gradient(rgba(0,0,0,1.0),rgba(49, 48, 48, 0.5) -115px);

}
.dumbbelimg{
    width:130px;
    height: 120px;
    display: inline;
    position: absolute;
    margin-top: -50px;
    margin-left: -30px;
    z-index: -5;
}
.listmenu{
    position: relative;
     z-index: 2;
     font-weight: bolder;
}

.imgLogo{
    width: 130px;
    height: 126px;
    display: inline;
}

.nav_main  .mainmenu{
    width: 84%;
    height: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none; 
}

.nav_main a{
    color: white;   
    font-size: large;
    
   
} 

.nav_sub{
    width:300px;
}
.nav_sub > ul {
    width: 100%;
    height: 100%;
	display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none; 

}

.nav_sub a {
    color: white;
    font-size: large;
    background-color: black;
    font-weight: bolder;
    height: 100px;
}

.mainmenu{
    position: relative;
}

.submenu{
    display: block;
    height: 100px;
    position: absolute;

}
.submenu li{
    color: white;
    line-height: 24px;
    font-weight: bold;
}
.sub1{
    margin-top: 44px;
    width: 100px;
}


