.header{
    width: 100%;
    height: 125px;
    background-color: black;  
    display: flex;
    justify-content: space-between;
  
}

.nav_main{
    width: 800px;
    height: 100%;

}

.imgLogo{
    width: 130px;
    height: 130px;
    display: inline;
}

.nav_main  ul{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none; 
}

.nav_main a{
    color: white;   
    font-size: large;
}

.nav_sub{
    width:300px;
}
.nav_sub > ul {
    width: 100%;
    height: 100%;
	display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none; 

}

.nav_sub a {
    color: white;
    font-size: large;
}


