.wd1{
    width: 80%;
    height: 300px;
 
    margin-left: 200px;
    
}

.wd1 > .wul{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
   

}

.wd1 .wli{
    width: 33%;
    height: 100%;
    border: 2px black solid;
    display: inline;
    border-radius : 25px;
    border-spacing:0px;
    border-collapse: collapse;
    
}
.wli .wa{
    text-align: center;
    display: block;
    font-size: large;
    text-decoration: underline;
    letter-spacing: 1px;
    margin-bottom: 10px;
    font-weight:bold;
    
}
#title{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

#galleryCont{
	width: 100%;
    height: 600px;
    display: flex;

    /* background-image: url("/s1/resources/images/gymHome2.jpg");
    background-repeat: no-repeat;
    background-size: 1910px 600px; */
}
#photo{
    width: 1800px;
    height: 600px;
    display: block;
}

 .homePic:focus-within {
    background-image: url('/s1/resources/images/gymHome.jpg');

 }


 #title{

   
    text-align: center;
    line-height: 50px;

 }

.beforeImage{
    width: 1300px;
    height: 500px;
    border: 1px black solid;
    display: flex;
    margin-left: 300px;
    


}

#imagee1{
    width: 300px;
}


#imagee:hover{
    content:url("/s1/resources/images/womanAfter.jpg");
}

#imagee1:hover{
    content: url("/s1/resources/images/manAfter.jpg");
}
     
#imagee2:hover{
    content: url("/s1/resources/images/bodyAfter.jpg");
} 
#imagee3:hover{
    content: url("/s1/resources/images/woAfter.jpg");
} 

