.d1{
    position: absolute;
    left: 50%;
    top: 75%;
    transform: translate(-50%,-50%);
  }
body {
  align-items: center;
  justify-content: center;
}
form {
  background-color: beige;
  padding: 50px;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  box-shadow: 0 0 10px black;
  width: 360px;
  height: 650px;
  margin-top: 20px;
}
.d1 h2 {
  margin-top: 100px; 
  color: black;
}
form input {
  border: none;
  background: none;
  text-align: center;
  outline: none;
  padding: 10px;
  margin: 10px 85px 20px 40px; 
  color: black;
  height: 30px;
  width: 250px;
  border-radius: 40px;
}


form input[type="text"],
form input[type="password"] {
  border: solid 2px #ffc400;
}
#btn {
  border: solid 2px #ec3b3b;
  box-sizing: border-box;
  height: 50px;
  width: 50%;
  border-radius: 40px;
  align-items: center;
  cursor: pointer;
  margin-left: 85px;
}
form input[type="text"]:focus,
form input[type="password"]:focus {
  width: 80%;
  border: solid 2px #ec3b3b;
}
#btn:hover {
  background: #ec3b3b;
  color: #000;
}