.d1{
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%,-50%);
}
body {
  display: inline;
  align-items: center;
  justify-content: center;
}
form {
  background-color: beige;
  padding: 20px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  box-shadow: 0 0 10px black;
  width: 300px;
  height: 400px;
  margin-top: 20px;
}
.d1 h2 {
  margin-top: 20px;
  color: black;
}
form input {
  border: none;
  background: none;
  text-align: center;
  outline: none;
  padding: 10px;
  margin: 20px;
  color: black;
  height: 30px;
  width: 70%;
  border-radius: 40px;
  transition: 0.2s ease-in;
}
form input[type="text"],
form input[type="password"] {
  border: solid 2px #ffc400;
}
form input[type="submit"] {
  border: solid 2px #ec3b3b;
  box-sizing: border-box;
  height: 50px;
  width: 50%;
  cursor: pointer;
}
form input[type="text"]:focus,
form input[type="password"]:focus {
  width: 80%;
  border: solid 2px #ec3b3b;
}
form input[type="submit"]:hover {
  background: #ec3b3b;
  color: black;
}