<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gym.s1.apply.ApplyDAO">

	<insert id="addApply" parameterType="ApplyDTO">
		INSERT INTO APPLY (APPLYNUM,TRANUM,DAY,TIME)
		VALUES (APPLY_SEQ.NEXTVAL,#{traNum},#{day},#{time})
	</insert>
	
	<update id="apply" parameterType="ApplyDTO">
		UPDATE APPLY SET MEMBERSHIPNUM=#{membershipNum} WHERE APPLYNUM =#{applyNum}
	</update>
	
	<select id="applyList" parameterType="ApplyDTO" resultType="ApplyDTO">
		SELECT * FROM APPLY WHERE DAY = #{day} AND MEMBERSHIPNUM IS NULL ORDER BY TRANUM, TIME ASC
	</select>
	
	<select id="timeList" parameterType="ApplyDTO" resultType="ApplyDTO">
		SELECT * FROM APPLY WHERE DAY = #{day} AND TRANUM = #{traNum} AND MEMBERSHIPNUM IS NULL ORDER BY TIME ASC
	</select>
	
 	<select id="trainerName" parameterType="TrainerDTO" resultType="MemberDTO">
		SELECT NAME,MEMBERNUM FROM GYMMEMBER WHERE MEMBERNUM = (SELECT MEMBERNUM FROM TRAINER WHERE TRANUM=#{traNum})
	</select>
	
	<select id="findTraNum" parameterType="TrainerDTO" resultType="TrainerDTO">
		SELECT * FROM TRAINER WHERE MEMBERNUM =  #{memberNum}
	</select>
	
	<select id="findApplyNum"  parameterType="ApplyDTO" resultType="ApplyDTO">
		SELECT * FROM APPLY WHERE MEMBERSHIPNUM IS NULL AND DAY=#{day} AND TIME = #{time} AND TRANUM =#{traNum}
	</select>
	
	<select id="findMembershipNum" parameterType="MembershipDTO" resultType="membershipDTO">
		SELECT * FROM MEMBERSHIP WHERE MEMBERNUM = #{memberNum}
	</select>
	
	<select id="findMemberNum" parameterType="MembershipDTO" resultType="membershipDTO">
		SELECT * FROM MEMBERSHIP WHERE MEMBERSHIPNUM = #{membershipNum}
	</select>
	
	<select id="findMemberName" parameterType="MemberDTO" resultType="memberDTO">
		SELECT * FROM GYMMEMBER WHERE MEMBERNUM = #{memberNum}
	</select>
		
	<update id="countUpdate" parameterType="MembershipDTO">
		UPDATE MEMBERSHIP SET COUNT=#{count} WHERE MEMBERSHIPNUM =#{membershipNum}
	</update>
	
	<select id="myApplyList" parameterType="ApplyDTO" resultType="ApplyDTO">
		SELECT * FROM APPLY WHERE MEMBERSHIPNUM = #{membershipNum} ORDER BY DAY , TIME
	</select>
	
	<select id="myStudyList" parameterType="ApplyDTO" resultType="ApplyDTO">
		SELECT * FROM APPLY WHERE TRANUM = #{traNum} ORDER BY DAY , TIME
	</select>
	
	<update id="applyDelete" parameterType="ApplyDTO">
		UPDATE APPLY SET MEMBERSHIPNUM =null WHERE APPLYNUM=#{applyNum}
	</update>
	
	<delete id="studyDelete" parameterType="ApplyDTO">
		DELETE APPLY WHERE APPLYNUM=#{applyNum}
	</delete>
	
</mapper>
