<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    <mapper namespace="com.gym.s1.member.MemberDAO">
    	<insert id="addFile" parameterType="MemberFileDTO">
    		INSERT INTO GYMMEMBERFILE
    		VALUES(GYMFILE_SEQ.NEXTVAL,#{memberNum},#{fileName},#{oriName})
    	</insert>
    
    	<insert id="join" parameterType="MemberDTO">
    	<selectKey keyProperty="memberNum" order="BEFORE" resultType="Long">
			SELECT GYMMEMBER_SEQ.NEXTVAL FROM DUAL
    	</selectKey>
    		insert into gymmember 
    		values (#{memberNum},#{id},#{pw},#{name},#{phone},0)
    	</insert>
    	
    	<select id="login" parameterType="MemberDTO" resultMap="memberResult" >
    		<!-- SELECT * FROM GYMMEMBER WHERE ID=#{id} and PW=#{pw} -->
    		SELECT M.*, F.*
			FROM GYMMEMBER M
			LEFT JOIN
			GYMMEMBERFILE F
			ON(M.MEMBERNUM=F.MEMBERNUM)
			WHERE ID=#{id} and PW=#{pw}
		</select>	
		
		<resultMap type="MemberDTO" id="memberResult">
			<id column="memberNum" property="memberNum"/>
			<result column="id" property="id"/>
			<result column="pw" property="pw"/>
			<result column="name" property="name"/>
			<result column="phone" property="phone"/>
			<result column="grade" property="grade"/>
		
		<association property="memberFileDTO" javaType="MemberFileDTO" >
			<id column ="fileNum" property="fileNum"/>
			<result column ="fileName" property="fileName"/>
			<result column ="oriName" property="oriName"/>
		</association>	
    	</resultMap>
    	<update id="update" parameterType="MemberDTO">
    		UPDATE GYMMEMBER SET NAME=#{name}, PHONE=#{phone} WHERE ID=#{id}
    	</update>
    	<update id="pwupdate" parameterType="MemberDTO">
    		UPDATE GYMMEMBER SET PW=#{pw} WHERE ID=#{id}
    	</update>
    	
    	<select id="total" parameterType="Pager" resultType="LONG">
		SELECT COUNT (MEMBERNUM) FROM GYMMEMBER
		WHERE GRADE
				LIKE '%'||#{search}||'%'
	</select> 
	
	
    	<select id="list" parameterType="Pager" resultType="MemberDTO">
		SELECT * FROM 
		(SELECT ROWNUM R, M.* FROM
			(SELECT * FROM GYMMEMBER
				WHERE GRADE
				LIKE '%'||#{search}||'%'
			ORDER BY MEMBERNUM DESC) M) 
		WHERE R BETWEEN #{startNum} AND #{lastNum}
	</select>
    	
    	<select id="detail" parameterType="MemberDTO" resultType="MemberDTO">
    		SELECT * FROM GYMMEMBER WHERE MEMBERNUM=#{memberNum}
    	</select>
    	<update id="upgrade" parameterType="MemberDTO">
    		UPDATE GYMMEMBER SET GRADE=#{grade} WHERE MEMBERNUM=#{memberNum}
    	</update>
    	<insert id="trainerAdd" parameterType="TrainerDTO">
    		INSERT INTO TRAINER 
    		VALUES(trainer_seq.nextval,#{memberNum},#{price},0)
    	</insert>
    	<select id="trainerDetail" parameterType="TrainerDTO" resultType="TrainerDTO">
    		SELECT * FROM TRAINER WHERE MEMBERNUM=#{memberNum}
    	</select>
    	
    	<select id="select"  parameterType="TrainerDTO" resultMap="selectResult">
			SELECT T.TRANUM, G.NAME, T.PRICE, T.CATEGORY
			FROM GYMMEMBER G
     		INNER JOIN
     		TRAINER T
     		ON (G.MEMBERNUM = T.MEMBERNUM)
		</select>
     
     <resultMap type="TrainerDTO" id="selectResult">
 		<id column="traNum" property="traNum"/>
		<result column="memberNum" property="memberNum"/>
		<result column="price" property="price"/>
		<result column="category" property="category"/>
		
		<association property="memberDTOs" javaType="MemberDTO">
			<id column="memberNum" property="memberNum"/>
			<result column="id" property="id"/>
			<result column="pw" property="pw"/>
			<result column="name" property="name"/>
			<result column="phone" property="phone"/>
			<result column="grade" property="grade"/>
		</association>
 	</resultMap>
 	
 	<insert id="buyAdd" parameterType="MembershipDTO">
 		INSERT INTO MEMBERSHIP
 		VALUES(MEMBERSHIP_SEQ.NEXTVAL, #{memberNum},#{traNum},#{count},#{price},#{locker},#{clothes},#{startDate},#{finishDate})
 	</insert>
 	
 	<delete id="deleteTrainer" parameterType="trainerDTO">
		DELETE TRAINER WHERE MEMBERNUM=#{memberNum}
	</delete>
 	
    </mapper>
