<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.gym.s1.board.qna.QnaDAO">

	<delete id="fileDelete" parameterType="QnaFileDTO">
		DELETE GYMQNAFILE WHERE FILENUM=#{fileNum}
	</delete>

	<insert id="addFile" parameterType="QnaFileDTO">
		INSERT INTO GYMQNAFILE(fileNum,num,fileName,oriName)
		VALUES(gymFile_seq.NEXTVAL,#{num},#{fileName},#{oriName})
	</insert>

	<insert id="add" parameterType="QnaDTO">
	
	<selectKey keyProperty="num" order="BEFORE" resultType="Long">
		SELECT GYMQNA_SEQ.NEXTVAL FROM DUAL 
	</selectKey>
	
		insert into gymqna (num, title,contents,writer, regDate, hit, ref, step,depth)
		values(#{num}, #{title},#{contents},#{writer},sysdate, 0, 0, 0, 0)
	</insert>

	<select id="total" parameterType="Pager" resultType="LONG">
		SELECT COUNT (NUM) FROM GYMQNA
		WHERE 
		<choose>
			<when test="kind=='col1'">
				TITLE
			</when>
			<when test="kind =='col2'">
				CONTENTS
			</when>
			<otherwise>
				WRITER
			</otherwise>
		</choose>
		LIKE '%'||#{search}||'%'
	</select>

	<select id="list" parameterType="Pager" resultType="QnaDTO">
		SELECT * FROM
		(SELECT ROWNUM R, Q.* FROM
			(SELECT * FROM GYMQNA 
				WHERE 
				<choose>
					<when test="kind=='col1'">
						TITLE
					</when>
					<when test="kind =='col2'">
						CONTENTS
					</when>
					<otherwise>
						WRITER
					</otherwise>
				</choose>
				LIKE '%'||#{search}||'%'
			ORDER BY NUM DESC)
		 Q)
		WHERE R BETWEEN #{startNum} AND #{lastNum}
	</select>

	<select id="detail" parameterType="QnaDTO" resultMap="detailResult">
		SELECT Q.*,F.*
		FROM GYMQNA Q
		LEFT JOIN
		GYMQNAFILE F
		ON(Q.num=F.num)
		WHERE Q.num=#{num}
	</select>
	
	<resultMap type="QnaDTO" id="detailResult">
		<id column="num" property="num"/>
		<result column="title" property="title"/>
		<result column="contents" property="contents"/>
		<result column="writer" property="writer"/>
		<result column="regDate" property="regDate"/>
		<result column="hit" property="hit"/>
		<result column="ref" property="ref"/>
		<result column="step" property="step"/>
		<result column="depth" property="depth"/>
		
		<collection property="fileDTOs" javaType="list" ofType="QnaFileDTO">
		<id column="fileNum" property="fileNum"/>
		<result column="fileName" property="fileName"/>
		<result column="oriName" property="oriName"/>
		
		</collection>
	
	</resultMap>

	<delete id="delete" parameterType="QnaDTO">
		DELETE GYMQNA WHERE NUM=#{num}
	</delete>

	<update id="update" parameterType="QnaDTO" >
		UPDATE GYMQNA SET TITLE =#{title}, CONTENTS = #{contents} WHERE NUM=#{num}
	</update>

</mapper>
